* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    height: 100vh;
    background-color: rgb(51, 43, 53);
}

h1, h2 {
    font-size: 3rem;
    text-align: center;
    color: rgb(51, 43, 53);
    background-color: white;
    padding: 1.5rem 0;
}

.score-board {
    font-size: 2.5rem;
    width: 20rem;
    border-radius: 5px;
    padding: 2.5rem;
    margin-top: 2.5rem;
    color: white;
    background-color: rgb(59, 59, 59);
    border: solid white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

span {
    font-size: 1.5rem;
}

.game-cards {
    display: flex;
    margin: auto;
    width: 60rem;
    height: 30rem;
    perspective: 100rem;
}

.animal-card {
    width: calc(25% - 10px);
    margin: 4rem 0.5rem;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.animal-card:hover, button {
    cursor: pointer;
}

.animal-card:active {
    transform: scale(.95);
    transition: .2s;
}

.animal-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    background: rgb(252, 255, 68);
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    position: absolute;
    backface-visibility: hidden;
}

.front-face {
    background: rgb(255, 255, 255);
    transform: rotateY(180deg);
}

.question-container { 
    font-size: 2.5rem;
    color: white;
    /* width: 40rem; */
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

.btn-grid {
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    /* width: 20rem; */
    /* align-items: center; */
    justify-content: center;
}

.btn {
    font-size: 2rem;
    width: 15rem;
    border: 3px solid rgb(252, 255, 68);
    border-radius: 0.5rem;
    background-color: white;
    
}

.btn:hover {
    filter: brightness(130%);
}

.darken {
    filter: brightness(60%);
}

.hide {
    display: none;
}

.green-glow {
    color: rgb(125, 255, 125);
    text-shadow: 0 0 1rem#a1ff89;
}

.red-glow {
    color: rgb(255, 62, 62);
    text-shadow: 0 0 1rem#ff7676;
}


@media only screen and (max-width: 37.5em) {
    .game-cards {
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 30rem;
        height: 30rem;
        justify-items: center;
    }

    .animal-card {
        width: 12rem;
        height: 18rem;
        /* margin-bottom: -2rem; */
    }

    .question-container {
        margin-top: 22rem;
    }

    .btn-grid {
        justify-items: center;
        
    }
}

